@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 25px;
    font-family: "Source Sans Pro", sans-serif;
    scroll-behavior: smooth;
}
.container
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-slide {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.brand h1{
font-size: 2rem;
text-decoration: none;
text-transform: uppercase;
color: white;
letter-spacing: 3px;
font-weight: 2500;
}
/* header s */
#header .brand1 h1{
  text-decoration: double;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  font-weight: 2500;
  }
#header{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  
}
#header .header{
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 1);
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;

}
#header .nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .brand11
 {
     color: rgb(255, 255, 255);
     font-size: 42px;
     font-weight: 700;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: -1px;
     padding: 0px 20px;
 
.navigate
     {
         position: relative;
     }
 }
 .navigation-items a{
  position: relative;
  font-size: 300;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  transition: 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: space-between;
  /* -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black; */
 
}
.navigation-items a:before{
  z-index: 2000;
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  width: 0;
  height: 2.2px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.navigation-items a:hover:before{
  width: 100%;
}

/* header end */








/* End abt us */
/* start of footer */
/* start of footer */
#footer .footer{
  background-image: linear-gradient(60deg,#29323c, #0a6cd5 100%);
}
#footer .footer{
  min-height: 200px;
  flex-direction: column;
  padding-top:50px ;
  background-image: linear-gradient(60deg,#29323c, #0a6cd5 100%);
  padding-bottom: 10px;
}
#footer h1{
  color: white;
}
#footer h2{
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon{
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item{
  height: 40px;
  width: 80px;
  margin-bottom: 0 5px;
}
#footer .social-item img{
  filter: brightness(1);
  transition: .3s ease filter;
}
#footer .social-item:hover img{

  filter: brightness(2);
}
#footer p{
  color: white;
}

/* Start of abt us */
#about .about{
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .col-left{
  align-items: center;
  padding: 10px;
 
}
#about .col-right{
width: 100%;
}
#about .col-right h2{
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: .1rem;
  margin-bottom: 10px;
  }

  #about .section-title{
    font-size: 4rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
  }

#about .ctaa1
{ 
  display: inline-block;
  padding: 10px 30px;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  background-color: transparent;
  border: 2px solid crimson;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease background-color;
  text-decoration: none;
  
}
#about .ctaa1:hover{
  color: white;
  background-color: crimson;
}
body{
  background-color: #a9e5e5;
    /* background-image: url(images/15.jpg); */
     /* box-sizing: border: ;
     background-image: linear-gradient(135deg, #8decff 30%, #f4ff78 90%); */
 }

  /* end of contact */
  /* start of footer */
/* End abt us */
/* end of footer */
/* end of footer */
*, *:before, *:after {
	box-sizing: border-box;
}

.wrapper{
  background-color: #a9e5e5;
	padding-right: 1em;
	padding-left: 1em;
}

header{
	height: 64px;
	color:#fff;
	text-align: center;
	background: linear-gradient(to right, #ff9966, #ff5e62);
}

header h2{
	font-size: 1.8em;
	margin-top: 0;
	padding-top: .8em;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 0;
}

.info{
	text-align: center;
}

.info h3, fieldset legend{
/* 	color: #444444; */
}

.info h3{
	margin-top: 0;
	padding-top: 1.5em;
  font-size: 2.5em;
}

.info p{
	font-size: .85em;
	border-bottom: 4px solid rgba(45,57,69);
	padding-bottom: 3em;
	margin-bottom: 0;
}

form{
	border-top: 2px solid rgba(45,57,69);
	margin-top: 2px;
	padding-top: 1em;
}

fieldset{
	border: none;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top:1em; 
	padding-bottom:1em;
}

fieldset legend{
	font-size: 1.65em;
	font-weight: bold;
	padding-bottom: .75em;
}

.contact-info label{
	display: block;
	padding-bottom: .65em;
  font-size: 1.25em;
}

.newsletter label{
  font-size: 1.25em;
}

.contact-info input , select , textarea{
	box-shadow: 0 0 1px ;
	width: 100%;
	height: 4em;
	background-color: #fff;
	outline: none;
	border:none;
	border-radius: 5px;
	border-color: #fff;
	text-indent: 10px;
	transition: border-color .4s ease-in-out;
}

textarea{
	height: 85px;
	padding-top:10px;
}

.contact-info input:focus , select:focus , textarea:focus{
	border: 2px solid #46698B;
	border-radius: 0;
}

#name:focus,
#email:focus{
	border: 2px solid #FF7463;
}

[type="submit"]{
	width: 100%;
/* 	background-color: #4EBBB5; */
/*   background-color: #f8f8e7; */
  background-color: #eeeec6;
	height: 60px;
	border: none;
	border-radius: 5px;
	color: #444444;
  font-size: 1.25em;
}

[type="submit"]:hover{
  opacity: .8;
}

.newsletter [type="checkbox"]{
	transform: scale(1.4);
}

::placeholder{
	text-align: right;
	padding-right: 1em;
}

.footer p{
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	margin: 0;
}

.menu-btn {
  background-color: transparent;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  padding: 10px;
  font-weight: 600;
  border: none;
}
.dropdown-menu {
  position: relative;
  display: inline-block;
}
.menu-content {
  display: none;
  position: absolute;
  background-color: #313434;
  min-width: 160px;
  z-index: 1;
}
nav{
  background-color: #017575;
}
.links,.links-hidden{
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.links-hidden{
  display: block;
}
.links{
  display: inline-block;
}
.links-hidden:hover,.links:hover {
  background-color: rgb(8, 107, 46);
}
.dropdown-menu:hover .menu-content {
  display: block;
}
.dropdown-menu:hover .menu-btn {
  background-color: #3e8e41;
}

@media(min-width: 760px){

	.wrapper{
		max-width: 685px;
	}
	
	.info h3{
		font-size: 2.5em;
		letter-spacing: 1px;
	}

	.info p{
		font-size: 1.1em;
	}

	.contact-info label{
		display: inline-block;
		width: 20%;
	}

	.contact-info input , select{
		width: 78%;
	}

	.newsletter .checkboxes p{
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

@media(min-width:1024px){

	.wrapper{
		width: 90%;
		max-width: 950px;
	}

	.contact-info label{
		display: inline-block;
		width: 26%;
	}

	.contact-info input , select{
		width: 72%;
	}

	.contact-info p , .newsletter p{
		margin-top: .5em;
		margin-bottom: .5em;
	}

	form{
		display: flex;
		justify-content: space-between;
	}

	.container6{
		display: flex; 
		flex-direction: column; 
		min-width: 340px;
		height: 500px;
		justify-content: space-around;
	}

	fieldset{
		margin-right: 0;
		margin-left: 0;
	}

	.contact-info{
		width: 55%;
	}

	.newsletter{
		width: 41%;
	}

	form{
		padding-top: 1em;
	}
}